@{
    ViewData["Title"] = "Movie List";// Titre de la page ou onglet du navigateur
    // Code c# dans accolades @{} 
    // Rendu final dans la page _Layout
}

<h2>My Movie List</h2>
<p>Hello from View Template!</p>
